body {
    margin: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pic {
    width: 150px;

}

.card {
    justify-content: space-around;
    width: 600px;
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    padding: 20px;
    display: flex;
    text-align: center;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;
    background-color: #ddebf8;
    
}
