body {
    margin: 10px;
    
}

.pic {
    width: 150px;

}

.card {
    justify-content: space-around;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    text-align: center;
    color: #2b2839;
    border-bottom: 10px solid #d8cefe;
    background-color: #ddebf8;
    
}

.border-blue {
 
     

}